h3 {
    margin-top: 80px;
    text-align: center;
    color: orangered;
}

#logo {
    width: 200px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
    padding-bottom: 30px;

}

form {
    padding: 10px;
}

#entrar {
    margin-top: 20px;
    color: orangered;
}

#sem-login {
    margin-top: -5px;
    color: orangered;
}

#cadastrar {
    margin-top: 5px;
    color: orangered;
}

#email {
    color: orangered;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
}
#nome {
    color: orangered;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
}

#senha {
    color: orangered;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-top: 10px;
}

#senha-label {
    color: orangered;
}

.selected {
    color: orangered;
}

.a {
    color : orangered;
}



