<ion-content [fullscreen]="true" id="background">

    <h3>Cadastro</h3>
    <form id="cadastro" (ngSubmit)="efetuaCadastro();$event.preventDefault">
        <ion-item id="nome">
            <ion-label style="color: black" position="stacked">Nome:
                <ion-text *ngIf="errosNome.length>0" style="color:red">{{ errosNome }}</ion-text>
            </ion-label>
            <ion-input [(ngModel)]="cliente.nome" required="true" type="text" name="nome">
            </ion-input>
        </ion-item>

        <ion-item id="telefone">
            <ion-label style="color: black" position="stacked">Telefone:
                <ion-text *ngIf="errosTelefone.length >0" style="color:red">{{ errosTelefone }}</ion-text>
            </ion-label>
            <ion-input [(ngModel)]="cliente.telefone" required="true" type="text" name="telefone"></ion-input>
        </ion-item>

        <ion-item id="email">
            <ion-label style="color: black" position="stacked">Email:
                <ion-text *ngIf="errosEmail.length >0" style="color:red">{{ errosEmail}}</ion-text>
            </ion-label>
            <ion-input [(ngModel)]="cliente.email" required="true" type="email" name="email"></ion-input>
        </ion-item>

        <ion-item id="senha">
            <ion-label style="color: black" position="stacked">Senha:
                <ion-text *ngIf="errosSenha.length >0" style="color:red">{{ errosSenha }}</ion-text>
            </ion-label>
            <ion-input [(ngModel)]="cliente.senha" required="true" id="senha-label" type="password" name="senha"></ion-input>
        </ion-item>

        <ion-item id="senha">
            <ion-label style="color: black" position="stacked">Confirme sua senha:
                <ion-text *ngIf="errosConfirmeSenha.length >0" style="color:red">{{ errosConfirmeSenha }}</ion-text>
            </ion-label>
            <ion-input [(ngModel)]="cliente.confirmaSenha" required="true" type="password" name="senha"></ion-input>
        </ion-item>

    </form>
    <ion-button id="cadastrar" expand="block" size="small" fill="default" color="ligth" (click)="efetuaCadastro()">Cadastrar-se</ion-button>
    <ion-button id="login" expand="block" size="small" fill="default" color="ligth" onClick="history.go(-1)">Login</ion-button>
</ion-content>
