h3 {
  margin-top: 80px;
  text-align: center;
  color: orangered;
  margin-top: 200px;
}

#logo {
  width: 200px;
  align-self: center;
  margin: auto;
  display: block;
  padding: 10px;
  padding-bottom: 30px;

}

form {
  padding: 10px;
}

#entrar {
  margin-top: 20px;
  color: orangered;
}

#sem-login {
  margin-top: -5px;
  color: orangered;
}

#cadastrar, #login {
  margin-top: 5px;
  color: orangered;
}
#cadastrar{
  margin-top: 80px;
}

#email, #telefone, #nome, #cpf {
  color: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
}


#senha {
  color: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

#senha-label {
  color: black;
}

.selected {
  color: orangered;
}

.a {
  color: orangered;
}
#cadastro{
  margin: 3px 50px;
}
#background{
  border: 1px solid black;
}
