<ion-content [fullscreen]="true" id="background">
    <h3>Biotech Academia</h3>
    <img src="assets/img/pagina-inicial.png" alt="logo" id="logo">

    <form>
        <p *ngIf="erros.length >0" style="color:red;margin-left: 10px">{{erros}}</p>
        <ion-item id="email">
            <ion-label style="color: black" position="stacked">Email:</ion-label>
            <ion-input required="true" type="email" [(ngModel)]="credenciais.email" name="email"></ion-input>
        </ion-item>
        <ion-item id="senha">
            <ion-label style="color: black" position="stacked" id="senha">Senha:</ion-label>
            <ion-input required="true" id="senha-label" type="password" [(ngModel)]="credenciais.senha" name="senha"></ion-input>
        </ion-item>
    </form>

    <ion-button id="entrar" expand="block" size="small" fill="default" color="ligth" (click)="login()">Entrar</ion-button>
    <ion-button id="cadastrar" expand="block" size="small" fill="default" color="ligth" (click)="cadastra()">Cadastrar</ion-button>
    <ion-button id="sem-login" expand="block" size="small" fill="default" color="ligth" (click)="loginSemCadastro()">Entrar sem login</ion-button>
</ion-content>
