h3 {
  margin-top: 80px;
  text-align: center;
  color: orangered;
  margin-top: 180px;
}

#logo {
  width: 150px;
  align-self: center;
  margin: auto;
  display: block;
  padding: 10px;
  padding-bottom: 30px;
}

form {
  margin: 3px 200px;
  padding: 10px;
}

#entrar, #sem-login, #cadastrar {
  margin-top: 10px;
  color: orangered;
}
#entrar{
  margin-top: 80px;
}

#email {
  color: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
}

#senha {
  color: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

.selected {
  color: black;
}

.a {
  color: black;
}
#background{
  border: 1px solid black;

}